<div id="<%= dom_id playlists_song %>">
  <p>
    <strong>Playlist:</strong>
    <%= playlists_song.playlist_id %>
  </p>

  <p>
    <strong>Song:</strong>
    <%= playlists_song.song_id %>
  </p>

</div>
