<h1>Editing playlists song</h1>

<%= render "form", playlists_song: @playlists_song %>

<br>

<div>
  <%= link_to "Show this playlists song", @playlists_song %> |
  <%= link_to "Back to playlists songs", playlists_songs_path %>
</div>
